@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bgclrmain: rgba(8, 58, 151, 0.589);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 600;
    margin: 20px;
    font-size: 3rem;
}
p{
    margin: 5px;
    font-weight: 300;
    font-size: 1.2rem;
}


/* background and overly */
.showcase{
    background: var(--bgclrmain);
    color: white;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}


.showcase::before{
    content:'';
    background: url(/img/wallpaper.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    animation: fade;
    animation-duration: 2s;

}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu-warp .menu a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    transition: 0.4s ease;
    
}
.menu-warp .menu a:hover{
    color: rgba(218, 97, 255, 0.685);

    
}

.menu-warp .menu li{
    list-style: none;
    padding: 0.7rem;
    
}


.btn {
    display: inline-block;
    border:none;
    color: white;
    padding: 0.7rem 2rem;
    background-color: rgb(0, 0, 129, 0.8);
    text-decoration: none;
    border-radius: 3px;
    transition: 1s;
    margin-top: 25px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 0, 129, 0.6);
}
.btn:focus{
    background-color: rgba(118, 0, 129, 0.6);
}


.menu-warp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-warp .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.menu-warp .hambergur{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 1;
    padding: 1rem;
    background-color: var(--bgclrmain);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;

}

.menu-warp .hambergur > div {
    position: relative;
    flex:none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    
}

.menu-warp .hambergur > div::before,
.menu-warp .hambergur > div::after{

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: inherit;
    z-index: 1;
    top:-10px
}
.menu-warp .hambergur > div::after{

    top:10px
}

.menu-warp .toggler:checked + .hambergur >div {
    transform: rotate(135deg);
    
}

.menu-warp .toggler:checked + .hambergur >div::before,
.menu-warp .toggler:checked + .hambergur >div::after{
    top: 0;
    transform: rotate(90deg);
}

.menu-warp .toggler:checked:hover + .hambergur >div {
    transform: rotate(225deg);

}


.menu-warp .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-warp .toggler:checked ~ .menu{
    visibility: visible;

}

.menu-warp .menu > div{
    background: rgba(0, 1, 31, 0.911);
    width: 200vw;
    height: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
    transform: scale(0);
    border-radius: 50%;
    flex: none;
}

.menu-warp .toggler:checked ~ .menu > div{
    transform: scale(1);
    /* transition-duration: 0.4s ease; */

}


.menu-warp .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-warp .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4 ease 0.4s;
}
